@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

body{
  background-color: #070724;
  background-image: url('../assets/background-stars.svg');
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-container{
     color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-container{
    border-bottom: solid 1px;
    padding: 20px 24px;
    display: flex;
    justify-content: space-around;
    mix-blend-mode: normal;
    opacity: 0.5;
}

a{
  text-decoration: none;
}