@import "./Variables.scss";

.btn-container{
overflow: visible;
border-bottom: solid 1px rgba(255, 255, 255, 0.336);
// padding: 20px 24px;
padding: 6px 24px;
display: flex;
justify-content: space-around;
font-family: $font-planet-card;
}
.btn-container-above-tablet{
visibility: hidden;
}


//mercury 
.planet-btn{
font-size: 12px;
font-weight: bold;
line-height: 10px;
text-align: center;
letter-spacing: 1.92857px;
color: rgba(255, 255, 255, 0.336);;
}

.planet-btnShow{
color: white;
border-bottom: solid 8px #419EBB;
padding-bottom: 24px;
margin: 29px 0px -7px 0px;
letter-spacing: 1.92857px;
}
//venus
.planet-btn-v{
font-size: 12px;
font-weight: bold;
line-height: 10px;
text-align: center;
letter-spacing: 1.92857px;
color: rgba(255, 255, 255, 0.336);;
}
.planet-btn-vShow{
color: white;
border-bottom: solid 8px #EDA249;
padding-bottom: 24px;
margin: 29px 0px -7px 0px;
letter-spacing: 1.92857px;
}


//earth 
.planet-btn-e{
font-size: 12px;
font-weight: bold;
line-height: 10px;
text-align: center;
letter-spacing: 1.92857px;
color: rgba(255, 255, 255, 0.336);;
}
.planet-btn-eShow{
color: white;
border-bottom: solid 8px #6D2ED5;
padding-bottom: 24px;
margin: 29px 0px -7px 0px;
letter-spacing: 1.92857px;
}

// mars
.planet-btn-ma{
font-size: 12px;
font-weight: bold;
line-height: 10px;
text-align: center;
letter-spacing: 1.92857px;
color: rgba(255, 255, 255, 0.336);;
}
.planet-btn-maShow{
color: white;
border-bottom: solid 8px #D14C32;
padding-bottom: 24px;
margin: 29px 0px -7px 0px;
letter-spacing: 1.92857px;
}

//jupiterD83A34
.planet-btn-j{
font-size: 12px;
font-weight: bold;
line-height: 10px;
text-align: center;
letter-spacing: 1.92857px;
color: rgba(255, 255, 255, 0.336);;
}

.planet-btn-jShow{
color: white;
border-bottom: solid 8px #D83A34;
padding-bottom: 24px;
margin: 29px 0px -7px 0px;
letter-spacing: 1.92857px;
}

//saturn
.planet-btn-s{
font-size: 12px;
font-weight: bold;
line-height: 10px;
text-align: center;
letter-spacing: 1.92857px;
color: rgba(255, 255, 255, 0.336);;
}
.planet-btn-sShow{
color: white;
border-bottom: solid 8px #CD5120;
padding-bottom: 24px;
margin: 29px 0px -7px 0px;
letter-spacing: 1.92857px;
}

//uranus
.planet-btn-u{
font-size: 12px;
font-weight: bold;
line-height: 10px;
text-align: center;
letter-spacing: 1.92857px;
color: rgba(255, 255, 255, 0.336);;
}
.planet-btn-uShow{
color: white;
border-bottom: solid 8px #1EC1A2;
padding-bottom: 24px;
margin: 29px 0px -7px 0px;
letter-spacing: 1.92857px;
}

//Neptune
.planet-btn-n{
font-size: 12px;
font-weight: bold;
line-height: 10px;
text-align: center;
letter-spacing: 1.92857px;
color: rgba(255, 255, 255, 0.336);;
}
.planet-btn-nShow{
color: white;
border-bottom: solid 8px #2D68F0;
padding-bottom: 24px;
margin: 29px 0px -7px 0px;
letter-spacing: 1.92857px;
}




//buttons for tablet & above
.planet-btn-above-tablet{
display: none;
}
.planet-btn-above-tablet.Show{
display: none;
    
}
// .planet-btn .Show{
// color: white;
// font-size: 12px;
// font-weight: bold;
// line-height: 10px;
// text-align: center;
// letter-spacing: 1.92857px;
// border-bottom:solid 1px #419EBB; 
// }
button{
    border-bottom:solid 1px #419EBB; 
background: none;
color: inherit;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
outline: inherit;
text-transform: uppercase;
}



//tablet Media Queries
@media screen and (min-width: 768px) {
// .btn-container{
// order:2;
// width: 50%;
// flex-direction: column;
// order: 2;
// }
.btn-container-above-tablet {
    visibility: visible;
}
.planet-des--btn-container{
    padding: 1rem 2.2rem;
    display: flex;
    align-items: center;
    order: 2;
}
.planet-des-wiki-container{
    display: flex;
    flex-direction: column;
    width: 64%;
}
.btn-container{
    display: none;
}
.planet-btn{
    display: none;
}
.planet-btn.show{
display: none;
}
.btn-container-above-tablet{
display: block;
width: 35%;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 11rem;
align-self: flex-end;
overflow: visible;
    padding: 52px 25px;
font-family: $font-planet-card;
}
.planet-btn-above-tablet{
width: 281px;
height: 40px;
display: block;
visibility: visible;
font-size: $btn-font-tablet;
font-weight: bold;
line-height: 10px;
text-align: center;
letter-spacing: 1.92857px;
    width: 9rem;
color: white;
}
.planet-btn-above-tablet.Show{
    display: flex;
justify-content: center;
align-items: center;
display: block;
color: white;
font-size: $btn-font-tablet;
font-weight: bold;
line-height: 10px;
    width: 9rem;
}
 div span{
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 25px;
    margin-left: 2rem;
}
.btn-tablet-container{
        width: 281px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px rgba(255, 255, 255, 0.336);
}
// button color change 
//mercury 
.btn-tablet-container-m{
    width: 281px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px rgba(255, 255, 255, 0.336);
}
.btn-tablet-container-m.Show{
    background: #419EBB;
}

//Venus 
.btn-tablet-container-v{
background: #EDA249;

    width: 281px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px rgba(255, 255, 255, 0.336);   
    

}
//earth 
.btn-tablet-container-e{
    width: 281px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px rgba(255, 255, 255, 0.336);
}
.btn-tablet-container-e.Show{
      background: #6D2ED5;
}

//Mars
.btn-tablet-container-ma{
background: #D14C32;
    width: 281px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px rgba(255, 255, 255, 0.336);
}
//Jupiter 
.btn-tablet-container-j{
 background: #D83A34;
    width: 281px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px rgba(255, 255, 255, 0.336);
}
//Saturn 
.btn-tablet-container-s{
background: #CD5120;
    width: 281px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px rgba(255, 255, 255, 0.336);   
}
//Uranus
.btn-tablet-container-u{
background: #1EC1A2;
    width: 281px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px rgba(255, 255, 255, 0.336);   
}
//Neptune
.btn-tablet-container-n{
background: #2D68F0;
    width: 281px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px rgba(255, 255, 255, 0.336);   
}
}

@media screen and (min-width: 1200px) {
.planet-des--btn-container {
    flex-direction: column;
           align-items: flex-end;
}
.btn-container-above-tablet {
    align-self: flex-start;
        align-self: center;
          padding: 50px 3px;
}
.planet-des-wiki-container {

    width: 67%;
}
}

///Desktop Media Queries 1440px 

// @media screen and (min-width: 1440px ) {
// 
// }