@import "./Variables.scss";

p{
color:$text-color;
}

nav{
position: absolute;
width: 100%;
top: 0;
}
.nav-top{
border-bottom: solid 1px rgba(255, 255, 255, 0.336);
padding: 16px 24px;
@include rowspacebetween ();

}
.nav-title{
font-size:$nav-title-m;
font-family: Antonio;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 36px;
letter-spacing: -1.05px;
text-transform: uppercase;
margin:0;
}
.hamburgerMenu{   
width: 24px;
height: 17px;
}
.hamburgerMenu.show{

}
//nav for tablet & desktop
.nav-links-container{
display: none;
}
.nav-links-container.show{
display: none;
}

//nav for mobile
.nav-links-container-mobile{
 display:none;
} 
div.nav-links-container-mobile.show{
display: block;
background:$background-color;
height: 100vh;
margin-top: -8px;
}  
.link-container{
display: flex;
justify-content: space-between;
border-bottom: solid 1px rgba(255, 255, 255, 0.336);
mix-blend-mode: normal;
margin: 20px 24px 32px 20px;
text-decoration: none;
}

.right-container{
align-items: center;
width: 17.7rem;
display: flex;
margin: 0px 7px;
}

.nav-planets{
margin-left: 1rem;
font-family: 'Spartan', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
text-align: center;
letter-spacing: 1.36364px;
text-transform: uppercase;
}
.nav-planets-icon{
height: 2rem;
}

.nav-arrow{}


//tablet Media Queries
@media screen and (min-width: 768px) {
    .nav-top {
    border-bottom: none;
    justify-content: space-around;
}
  .hamburgerMenu{   
display: none;}
.right-container {
width: fit-content;
}
.nav-links-container{
border-bottom: solid 1px rgba(255, 255, 255, 0.336);
visibility: visible;
justify-content: center;
display: flex;
margin-top: 0px;
height: fit-content;
}
div.nav-links-container.show{
display: none;
}  
.link-container {
    display: flex; 
    justify-content: space-between; 
    border-bottom:none; 
    margin:0px;
}
.nav-planet{
    visibility: hidden;

}
.nav-arrow{
    visibility: hidden; 
}
.nav-planets{
   font-size: $nav-font-tablet; 
}
}
