@use "sass:map";

//color variables
$text-color:#fff;
$background-color: #070724;

// font family 
$font: Antonio;
$font-planet-card: Spartan;


//font variables 
$nav-title-m:36px;
$planet-card-font-size:12px;
$planet-card-des-font-size:20px;

//nav fonts 
$nav-font-tablet:11px;

//button fonts 
//tablet
$btn-font-tablet:12px;
//planet image height mobile
$Planet-height-mobile: 111px;
$Planet-height-mobile-Surface-Geology: 191px;

// Tablet
$Planet-height-tablet: 253px;
$Planet-height-tablet-Surface-Geology: 333px;

// Desktop
$Planet-height-desktop: 400px;
$Planet-height-desktop-Surface-Geology: 480px;

/// Planet image width 
$planet-width-mobile:111px;
// Tablet 
$planet-width-tablet:253px;
//Desktop 
$planet-width-desktop:400px;



@mixin rowspacebetween {
display: flex;
justify-content: space-between;
align-items: center;
}

/// algining content VERTICAL center 
@mixin VCenter{
display: flex;
flex-direction: column;
align-items: center;
 }

 // aligning HORIZONTAL
 @mixin Hcenter {
   display: flex;
   justify-content: center;
 }